.button{
	position: absolute;
	background-color: #7952B3;
	width: 150px;
	height: 50px;
	border-radius: 15px;
	outline: 0;
	bottom: 6px;
	&:hover {
		filter: brightness(1.5);
		bottom: 3px;
		transition: ease bottom 300ms;
	}
	&:active{
		bottom:-1px;		
		transition: ease bottom 300ms;
	}
}
.outerButton{
	position: relative;
	background-color: #FFBD9B;
	width: 150px;
	height: 40px;
	border-radius: 15px;
	top: 10px;
}

#textInsideButtons{
	cursor: default;
	color:black;
	display: grid;
	place-items: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#btnFetchSongs{
	margin-top: 40px;
}